.anadiv{height:auto;width:950px; margin: 10px auto;}
.logo{height: 44px;width: 79px;border: 1px solid black;float: left; background-color: aqua;padding-bottom:6px }
.branner{height: 35px;width: 800px; border: 1px solid black; float: left;margin-left: 20px;text-align: center;padding-top: 15px;color: brown; font-style:italic; font-size: 20px; font-weight: bold; background-color: azure;}
.sekme{width: 750px;height: 50px;border: 1px solid black;float: left;margin-top: 50px;margin-right: 20px; position: relative;z-index: 2; border-radius: 15px;background-color: aquamarine;}
.sekme ul{padding: 0;margin:0; display: block; float: left;}
.sekme ul li{ padding: 0;margin:0; list-style: none; display: block; float:left;}
.sekme ul li a{ display: block;width: 150px;height: 35px; padding-top: 15px; text-align: center; text-decoration: none;}
.sekme ul li a:hover{ font-style: italic;font-weight: bold; font-size: 35px;color: red}
.sosyal{height: 50px;width:120px;border: 1px solid black;float: left; margin-top: 50px;background-color: floralwhite; }
.buyukkutu{width: 900px;height: 550px;border: 1px solid black;float: left; margin-top: 50px; border-radius: 50px; background-color: floralwhite;}
.tasarim{width: 30px;height: 30px; border:2px solid red;margin-top: 10px;margin-left: 20px;border-radius:5px; transform: rotate(50deg); background-color: darkgreen; }
.yazi{width: 15px;height: 15px;margin-top: 5px;margin-left: 8px;transform: rotate(-50deg);color: aqua; }
